<p>landingpage works!</p>
<h1 class="text-center text-red-800 font-bold text-5xl italic ">SWIFT-BANK</h1>
<div class="container-fluid">
    <div class="row justify-center">
        <div class="col-5 mx-auto shadow">
            <img src="../assets/Pictures/man-making-plans-renovate-house-using-laptop-smartphone.jpg" alt="" width="100px">
        </div>
        <div class="col-5 mx-auto shadow">
            <button mat-stroked-button color="primary">Primary</button>
        </div>
    </div>
</div>
