
<div class="min-h-screen flex justify-center items-center bg-gray-100 pt-10">
  <div class="w-full max-w-md bg-white rounded-lg shadow-md overflow-hidden">
    <h1 class="text-3xl text-center text-red-700 py-4">SIGNUP FORM</h1>
    <form #formone="ngForm" class="px-8 py-6 space-y-6">
      <label class="block text-sm font-medium text-gray-700" for=""
        >First Name</label
      >
      <input
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [(ngModel)]="contact.first_name"
        name="fname"
        #fname="ngModel"
        required
        [class.is-valid]="fname.valid"
        [class.is-invalid]="fname.invalid && fname.touched"
        placeholder="FIRSTNAME"
      />
      <div *ngIf="fname.invalid && fname.dirty">
        <span class="text-danger" *ngIf="fname?.errors?.['required']">
          This field is required
        </span>
      </div>

      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        for=""
        >Last Name</label
      >
      <input
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [(ngModel)]="contact.last_name"
        name="lname"
        #lname="ngModel"
        required
        [class.is-valid]="lname.valid"
        [class.is-invalid]="lname.invalid && lname.touched"
        placeholder="LASTNAME"
      />
      <div *ngIf="lname.invalid && lname.dirty">
        <span class="text-danger" *ngIf="lname?.errors?.['required']">
          This field is required
        </span>
      </div>

      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        for=""
        >Gender</label
      >
      <div class="flex items-center">
        <input
          class="mb-2 mx-2 w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
          type="radio"
          id="maleCheckbox"
          [(ngModel)]="contact.gender"
          name="gender"
          value="male"
        />
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="maleCheckbox"
        >
          Male
        </label>
      </div>
      <div class="flex items-center">
        <input
          class="mb-2 mx-2 w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
          type="radio"
          id="femaleCheckbox"
          [(ngModel)]="contact.gender"
          name="gender"
          value="female"
        />
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="femaleCheckbox"
        >
          Female
        </label>
      </div>
      <div *ngIf="formone.submitted && !contact.gender" class="text-danger">
        Gender is required
      </div>

      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        for=""
        >Phone-Number</label
      >
      <input
        type="number"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [(ngModel)]="contact.phone_number"
        name="num"
        #num="ngModel"
        required
        minlength="12"
        required
        [class.is-valid]="num.valid"
        [class.is-invalid]="num.invalid && num.touched"
        placeholder="+234-000-0000-000"
      />
      <div *ngIf="num.invalid && num.dirty">
        <span class="text-danger" *ngIf="num?.errors?.['required']">
          This field is required
        </span>
        <span class="text-danger" *ngIf="num?.errors?.['pattern']">
          Password must contain at least one uppercase letter, one lowercase
          letter, and one digit, and be at least 10 characters long.
        </span>
      </div>

      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        for=""
        >Email</label
      >
      <input
        type="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [(ngModel)]="contact.email"
        name="em"
        #em="ngModel"
        required
        email
        [class.is-valid]="em.valid"
        [class.is-invalid]="em.invalid && em.touched"
        placeholder="EMAIL"
      />
      <div *ngIf="em.invalid && em.dirty">
        <span class="text-danger" *ngIf="em?.errors?.['required']">
          This field is required
        </span>
        <span class="text-danger" *ngIf="em?.errors?.['email']">
          Invalid email format
        </span>
      </div>

      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        for=""
        >Password</label
      >
      <input
        type="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [(ngModel)]="contact.password"
        name="pass"
        #pass="ngModel"
        required
        minlength="8"
        required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{10,}$"
        [class.is-valid]="pass.valid"
        [class.is-invalid]="pass.invalid && pass.touched"
        placeholder="PASSWORD"
      />
      <div *ngIf="pass.invalid && pass.dirty">
        <span class="text-danger" *ngIf="pass?.errors?.['required']">
          This field is required
        </span>
        <span class="text-danger" *ngIf="pass?.errors?.['pattern']">
          Password must contain at least one uppercase letter, one lowercase
          letter, and one digit, and be at least 10 characters long.
        </span>
      </div>

      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        for=""
        >Address</label
      >
      <input
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [(ngModel)]="contact.address"
        name="address"
        #address="ngModel"
        required
        address
        [class.is-valid]="address.valid"
        [class.is-invalid]="address.invalid && address.touched"
        placeholder="ADDRESS"
      />
      <div *ngIf="address.invalid && address.dirty"></div>

      <button
        class="mt-5"
        mat-raised-button
        color="warn"
        [disabled]="formone.invalid"
        (click)="submit()"
      >
        Submit
      </button>
      <div>
        <p>{{ message }}</p>
      </div>
    </form>
  </div>
</div>
