<div *ngIf="currentUser" class="max-w-md mx-auto mt-10 p-6 bg-white rounded-lg shadow-lg">
  <div class="flex items-center space-x-4">
    <img *ngIf="currentUser?.profile_picture" [src]="'http://localhost/bankapp/pictures/' + currentUser.profile_picture" alt="Profile Picture" class="w-1/3 rounded-full object-cover">
    <div>
      <h2 class="text-xl font-semibold text-gray-800">Welcome, {{ currentUser.first_name }} {{ currentUser.last_name }}</h2>
      <p class="text-gray-700"><span class="font-semibold">Gender:</span> {{ currentUser.gender }}</p>
    </div>
  </div>
  <div class="mt-4">
    <p class="text-gray-700"><span class="font-semibold">Email:</span> {{ currentUser.email }}</p>
    <p class="text-gray-700"><span class="font-semibold">Phone Number:</span> {{ currentUser.phone_number }}</p>
  </div>
  <div class="mt-4">
    <form (ngSubmit)="uploadProfilePicture()">
      <input type="file" #fileInput>
      <button type="submit" class="mt-2 px-4 py-2 bg-blue-500 text-white rounded">Upload Picture</button>
    </form>
  </div>
</div>
